{load href="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>  
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/JavaScript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/JavaScript">
    $('.listorder input').blur(function () {
        //抛送逻辑
        //获取主键id
        var id = $(this).attr('attr-id');
        var listorder = $(this).val();

        var postData = {
            'id':id,
            'listorder':listorder,
        }
        var url = SCOPE.listorder_url;
        //抛送http
        $.post(url,postData,function(result){
            //逻辑
            if(result.code == 1){
                location.href=result.data;
            }else{
                alert(result.msg);
            }
        },'JSON')
    });
</script>
